.management {
    &__content {
        background-color: white;
        border-radius: $btop-radius;
    }

    &__banner {
        background-color: rgba(29, 38, 113, 0.7);
        border-radius: $btop-radius;
        align-items: center;
    }
}

#personModal {
    header {
        h3 {
            padding-top: 15px;
            text-align: center;
            font-size: 210%;
            font-family: 'Playfair Display', serif;
            color: #3e403f;
        }
    }
}

#managementForm {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 5px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsl(216deg 83% 68% / 31%);
    padding: 2%;
    background-image: linear-gradient(250deg, #e3ecfd, #fff0e8);

    .pForm__item {
        padding: 5px 0;
        margin-bottom: 0;

        .pForm_noti {
            color: red;
            margin-left: 40px;
        }
    }

    select {
        &:focus {
            box-shadow: none;
        }
    }
}