// MIXIN FOR HOME
@mixin homeStyle {
    width: 250px;
    height: 250px;
    border-radius: 75px;
}

@mixin pseudoElement() {
    display: block;
    content: "";
    position: absolute;
}


// MIXIN FOR ADMIN
// Quản lý responsive
@mixin responsive($screen) {

    // map-has-key là hàm dùng để kiểm tra một key có tồn tại trong map hay không
    @if (map-has-key($map: $breakpoints, $key: $screen)) {
        // map-get là hàm để lấy giá trị trong map bằng key
        $width: map-get($map: $breakpoints,
            $key: $screen,
        );

        @media screen and (max-width: $width) {
            @content;
        }
    }

    @else {
        @warn "'{$screen}' isn't in breakpoint";
    }
}